section {
  top: 50%;
  left: 50%;
  gap: 10px;

  width: auto;
  height: auto;

  margin: auto;
  display: grid;

  position: absolute;
  transform: translate(-50%, -50%);
  grid-template-areas: ". ." ". .";

  --mh: calc(var(--height) * 4 + 30px);

  @media (width <= 800px) {
    grid-template-areas: "." "." "." ".";

    padding:
      calc(max(100dvh - var(--mh), 20px) * 0.5)
      calc(max(100% - var(--width), 0px) * 0.5);

    overflow: hidden auto;
    position: relative;

    transform: unset;
    inset: unset;

    height: 100%;
    width: 100%;
  }
}
